@font-face {
  font-family: "webku";
  src: url(fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "webku";
}
body {
  background-image: url(tugas-prak-proweb/tugas-29-09-2026/edited-photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
